:root{
    --color-primary: #e15f41;
    --color-white: #fff;
    --color-bg-section: #ffeae6;
}

body{
    font-family: 'Roboto', sans-serif;
}
.navbar{
    background-color: var(--color-primary);
}

.navbar-brand{
    font-family: 'Pacifico', cursive;
}

.navbar-brand .logo-detail{
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--color-white);
}

#cabecalho 
.nav .nav-link,
.navbar-brand,
.navbar-brand:hover,
.nav-cardapio .nav-link.active:hover{
    color: var(--color-white);
}

#cabecalho .nav .nav-link.active{
    background-color: var(--color-white);
    color: var(--color-primary);
}

.navbar-toggler{
    background-color: var(--color-white);
}

.section-title{
    font-family: 'Pacifico', cursive;
}

#about,
#cardapio{
    background-color: var(--color-bg-section);
}

.text-colored{
    color: var(--color-primary);
}

.nav-cardapio .nav-link.active{
    background-color: var(--color-primary);
    color: var(--color-white);
}

.nav-cardapio .nav-link:hover{
    color: var(--color-primary);
}

#pratos-principais img{
    height: 185px;
}